.calc {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    justify-content: space-around;
}

.status {
    margin: 20px 0;
    display: flex;
}

.status p {
    margin: 0;
    margin-left: 2px;
}

.chart-wrapper {
    margin: 50px 0;
}

canvas {
    border: 2px solid rgba(0, 0, 0, 0.5);
}
