#kid-amount-div, 
#kid-name-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.kid-amount-modal,
.kid-name-modal {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 5% 10%;
    background-color: white;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    justify-content: space-around;
}

.status {
    margin: 20px 0;
    display: flex;
}

.status p {
    margin: 0;
    margin-left: 2px;
}

.chart-wrapper {
    margin: 50px 0;
}

canvas {
    border: 2px solid rgba(0, 0, 0, 0.5);
}
